---
import work from "../data/work.ts";
---

<section class="pt-24 bg-white dark:bg-black min-h-screen relative">
	<div class="overflow-x-auto relative">
		<table class="mt-8 w-full">
			<thead>
				<tr class="font-mono dark:text-grey-dark text-grey-mid">
					<th class="font-normal text-left py-2 pr-2 text-xs">Year</th
					>
					<th class="font-normal text-left p-2 text-xs">Project</th>
					<th class="font-normal text-left p-2 text-xs">Partner</th>
					<!--
                        <th class="font-normal text-left p-2 min-w-[200px]">Service</th>
                        <th class="font-normal text-left p-2 min-w-[200px]">Stack</th> 
                    -->
					<th class="font-normal text-left py-2 pl-2 text-xs">Link</th
					>
				</tr>
			</thead>
			<tbody>
				{
					work.map((item, i) => (
						<tr>
							<td class="py-2 pr-2 whitespace-nowrap">
								{item.status ? item.status : item.year}
							</td>
							<td class="p-2 whitespace-nowrap">{item.title}</td>
							<td class="p-2 whitespace-nowrap">
								{item.partner?.link ? (
									<a href={item.partner.link} target="_blank">
										{item.partner.name}
									</a>
								) : (
									item.partner?.name
								)}
							</td>
							<td class="py-2 pl-2 whitespace-nowrap">
								{item.link?.url ? (
									<span>
										{item.link?.text}{" "}
										<a href={item.link.url} target="_blank">
											{item.link.url}
										</a>
									</span>
								) : (
									item.link?.text
								)}
							</td>
						</tr>
					))
				}
				<!--
                    <td class="p-2">
                        { item.service.map((service, i) => (
                            <span class="inline-block mr-2">{ service }{ i !== item.service.length - 1 && ',' }</span>
                        )) }
                    </td>
                    <td class="p-2">
                        { item.stack.map((stack, i) => (
                            <span class="inline-block mr-2">{ stack }{ i !== item.stack.length - 1 && ',' }</span>
                        )) }
                    </td>
                -->
			</tbody>
		</table>
	</div>
</section>
