---
interface Props {
	title: string;
	seoTitle: string;
	seoDescription: string;
}

import "../styles/app.pcss";

const {
	title = "bocc(dot)dev",
	seoTitle = "bocc(dot)dev",
	seoDescription = "A design-led development studio crafting websites with a less is more approach",
} = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={seoDescription} />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<meta name="description" content={seoDescription} />
		<meta property="og:locale" content="en_GB" />
		<meta property="og:title" content={seoTitle} />
		<meta property="og:site_name" content={seoTitle} />
		<meta property="og:url" content={Astro.url.href} />
		<meta property="og:description" content={seoDescription} />
		<meta property="og:image" content="seo/og-bocc.png" />
		<meta property="og:image:width" content="1200" />
		<meta property="og:image:width" content="630" />
		<meta name="twitter:card" content="summary_large_image" />
		<meta name="twitter:title" content={seoTitle} />
		<meta name="twitter:description" content={seoDescription} />
		<meta name="twitter:image:src" content="seo/twitter-bocc.png" />
		<meta name="twitter:image:width" content="1200" />
		<meta name="twitter:image:height" content="600" />
		<style is:inline>
			[x-cloak] {
				display: none !important;
			}
		</style>
		<script src="../scripts/app.js"></script>
	</head>
	<body class="w-full min-h-[100vh]">
		<slot />
		<script async defer src="https://cabin.bocc.dev/hello.js"></script>
	</body>
</html>
